<a href="https://colab.research.google.com/github/manishrawat2022/ReStock/blob/main/nse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Installations

In [ ]:
! /usr/bin/python3 -m pip install "pymongo[srv]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip install nsetools

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nsetools
  Downloading nsetools-1.0.11-py3-none-any.whl (9.6 kB)
Collecting dateutils
  Downloading dateutils-0.6.12-py2.py3-none-any.whl (5.7 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsetools) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dateutils->nsetools) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from dateutils->nsetools) (2022.1)
Installing collected packages: dateutils, nsetools
Successfully installed dateutils-0.6.12 nsetools-1.0.11

In [ ]:
!pip install nsepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nsepy
  Downloading nsepy-0.8.tar.gz (33 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from nsepy) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from nsepy) (4.2.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->nsepy) (2.10)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36084 sha256=b3bdf5a28ee06c67d1b8eed7f618f86f1aef81539626d1816b98d8fd744e0726
  Stored in directory: /root/.cache/pip/wheels/32/ab/d9/78ceea14cdf6de83376082b3cb0c2999fd77f823e35c47b9ec
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8

#### Imports

In [ ]:
import pymongo
from pymongo import MongoClient
from nsetools import Nse
from nsepy import get_history
import datetime
from datetime import date

#### Initialize NSE Tools

In [ ]:
nse = Nse()

#### Get Stock and indexes codes

In [ ]:
indexes = nse.get_index_list()

In [ ]:
stocks = nse.get_stock_codes()

In [ ]:
#We will collect data from 2017 to today
start_date = date(2017,1,1)
end_date = date.today()

In [ ]:
sbin = get_history(symbol='SBIN',
                   start=start_date,
                   end=end_date)

In [ ]:
sbin

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2017-01-02,SBIN,EQ,250.20,252.50,253.65,242.60,243.55,243.60,244.80,25988990,6.362168e+14,164268,12078409,0.4648
2017-01-03,SBIN,EQ,243.60,244.00,246.40,241.10,244.90,244.90,244.54,15963085,3.903556e+14,112537,4370526,0.2738
2017-01-04,SBIN,EQ,244.90,245.80,246.40,242.20,243.20,242.90,243.96,11225978,2.738651e+14,91672,3632352,0.3236
2017-01-05,SBIN,EQ,242.90,245.00,245.90,243.70,245.50,245.35,244.94,11970913,2.932209e+14,88254,4511456,0.3769
2017-01-06,SBIN,EQ,245.35,246.00,249.00,245.50,246.05,245.90,247.10,12354302,3.052714e+14,75839,3393716,0.2747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-11,SBIN,EQ,488.55,485.00,491.30,485.00,488.05,488.20,488.75,7704792,3.765716e+14,94857,2892361,0.3754
2022-07-12,SBIN,EQ,488.20,485.00,491.35,483.10,483.40,484.95,488.66,7364457,3.598704e+14,108367,2291145,0.3111
2022-07-13,SBIN,EQ,484.95,487.75,492.45,484.55,486.20,486.50,488.27,8208853,4.008106e+14,129820,3515328,0.4282
2022-07-14,SBIN,EQ,486.50,486.60,488.90,476.80,480.30,479.35,482.03,9385630,4.524121e+14,151617,4003660,0.4266
2022-07-15,SBIN,EQ,479.35,482.55,484.40,474.70,478.70,479.10,478.30,6945602,3.322055e+14,120161,2526701,0.3638

In [ ]:
nifty50 = get_history(symbol='NIFTY 50',
                   start=start_date,
                   end=end_date, index=True)
nifty50

                Open      High       Low     Close     Volume      Turnover
Date
2017-01-02   8210.10   8212.00   8133.80   8179.50  122016111  5.255490e+10
2017-01-03   8196.05   8219.10   8148.60   8192.25  131186021  6.053670e+10
2017-01-04   8202.65   8218.50   8180.90   8190.50  136476345  6.543130e+10
2017-01-05   8226.65   8282.65   8223.70   8273.80  163957452  8.180680e+10
2017-01-06   8281.85   8306.85   8233.25   8243.80  143689850  7.298740e+10
...              ...       ...       ...       ...        ...           ...
2022-05-13  15977.00  16083.60  15740.85  15782.15  369135540  2.745412e+11
2022-05-16  15845.10  15977.95  15739.65  15842.30  217646558  1.785219e+11
2022-05-17  15912.60  16284.25  15900.80  16259.30  295687774  2.278299e+11
2022-05-18  16318.15  16399.80  16211.20  16240.30  290441105  2.388984e+11
2022-05-19  15917.40  15984.75  15775.20  15809.40  313876082  2.434084e+11

[801 rows x 6 columns]

#### Create MongoDB client

In [ ]:
client = MongoClient('mongodb+srv://random:Random@stock.mbex3cy.mongodb.net/?retryWrites=true&w=majority')
db = client["Stocks"]
collection = db["stock_history"]

#### Put stock data in MongoDB

In [ ]:
for stock in stocks:
  documents = []
  history = get_history(symbol=stock,
                   start=start_date,
                   end=end_date)
  history = history.reset_index()

  for row in history.iterrows():
    document = dict([(column, row[1][column])for column in history.columns])
    document["Date"] = datetime.datetime.combine(document["Date"], datetime.datetime.min.time())
    documents.append(document)
  
  if documents:
    collection.insert_many(documents, ordered=False)

#### Put index data in MongoDB

In [ ]:
collection = db["index_history"]

In [ ]:
for index in indexes:
  documents = []
  history = get_history(symbol=index,
                   start=start_date,
                   end=end_date,
                   index=True)
  history = history.reset_index()

  for row in history.iterrows():
    document = dict([(column, row[1][column])for column in history.columns])
    document["Name"] = index
    document["Date"] = datetime.datetime.combine(document["Date"], datetime.datetime.min.time())
    documents.append(document)
  
  if documents:
    collection.insert_many(documents, ordered=False)